.bor-right {
    @media (min-width:1200px) {
        border-right: 2px solid #ebebeb;
    }
}

.custom-gutter {
    @media(min-width: 1200px) {
        --bs-gutter-x: 32px;
    }
}

.chr {
    height: 1px;
    background: #d9d9d9;
}

@media(min-width:768px) {

    .col-md-55 {
        flex: 0 0 auto;
        width: 55%
    }

    .col-md-45 {
        flex: 0 0 auto;
        width: 45%
    }
}

.my-25 {
    margin: 12px 0;
}