@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

@font-face {
    font-family: "georgia-regular";
    src: url(../fonts/Georgia.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "helvetica-regular";
    src: url(../fonts/Helvetica.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "helvetica-medium";
    src: url(../fonts/HelveticaNeue-Medium.otf);
    font-weight: normal;
}

@font-face {
    font-family: "helvetica-bold";
    src: url(../fonts/HelveticaNeueBd.ttf);
}