.card-big {
    padding-bottom: 20px;

    .header {
        color: #000000;
        font-family: "helvetica-bold";
        font-size: 30px;
        line-height: 33px;
        padding-bottom: 5px;
    }

    .paragraph {
        color: #333333;
        font-size: 14px;
        font-family: "helvetica-regular";
        padding-bottom: 5px;
    }

    ul {
        li {
            list-style: disc;
            font-family: "helvetica-bold";
            font-size: 14px;
        }
    }
}

.card-lg {
    .header {
        color: #000000;
        font-family: "helvetica-bold";
        font-size: 22px;
        padding: 10px 0;
    }

    .paragraph {
        font-family: "helvetica-regular";
        color: #333333;
        font-size: 14px;
    }

    ul {
        li {
            list-style: disc;
            font-family: "helvetica-regular";
            font-size: 14px;
            padding-bottom: 5px;
        }
    }
}

.card-medium {
    padding-bottom: 25px;

    .header {
        color: #000000;
        font-family: "helvetica-bold";
        font-size: 19px;
        padding: 10px 0;
    }

    .paragraph {
        font-family: "helvetica-regular";
        color: #333333;
        font-size: 14px;
    }

    ul {
        li {
            list-style: disc;
            font-family: "helvetica-regular";
            font-size: 14px;
        }
    }
}

.small-heading-card {
    .heading {
        font-size: 17px;
        line-height: 18.5px;
        font-family: "helvetica-bold";
        color: #000000;
        padding: 5px;
    }
}

.numbered-card {
    padding-bottom: 30px;

    .number {
        font-size: 25px;
        vertical-align: middle;
        font-family: "helvetica-regular";
        align-self: center;
    }

    img {
        width: 100%;
        height: auto;
    }

    .para {
        font-family: "helvetica-bold";
        font-size: 15px;
        line-height: 16.5px;
        color: #000000;

        &.line-clamp-3 {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
    }
}

.Regions-card {
    .big-header {
        font-family: "helvetica-bold";
        font-size: 26px;
        line-height: 28.5px;
        color: #000000;
    }

    .mid-header {
        font-family: "helvetica-bold";
        font-size: 19px;
        line-height: 20.5px;
        color: #000000;
    }

    .small-header {
        font-family: "helvetica-bold";
        font-size: 17px;
        line-height: 18.5px;
        color: #000000;
    }

    .para {
        font-family: "helvetica-regular";
        font-size: 14px;
        line-height: 15.5px;
        color: #000000;
    }
}