/*=== abstracts css start === */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@font-face {
  font-family: "georgia-regular";
  src: url(../fonts/Georgia.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "helvetica-regular";
  src: url(../fonts/Helvetica.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "helvetica-bold";
  src: url(../fonts/HelveticaNeueBd.ttf);
}
/*===// end of abstracts css === */
/*=== base css start === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

::after,
::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
p,
address,
strong,
i {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul,
li {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1200px;
  }
}
/*=== abstracts css start === */
body {
  font-family: "helvetica-regular";
}

.section-title {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 18px;
}

.category-title {
  font-family: "helvetica-regular";
  color: #316ca6;
  font-size: 12px;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}
@media (min-width: 1200px) {
  .line-clamp-2 {
    -webkit-line-clamp: 3;
  }
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
}

.heading-small {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 15px;
}

.heading-medium {
  font-family: "helvetica-regular";
  color: #152a45;
  font-weight: 700;
  font-size: 17px;
}

.heading-medium-v2 {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 17px;
}

.heading-semibig {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 25px;
}

.heading-big {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 28px;
}

.heading-xl {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 32px;
}

.heading-xxl {
  font-family: "PT Serif", serif;
  color: #152a45;
  font-weight: 700;
  font-size: 35px;
}

.text-small-ash {
  font-size: 13px;
  color: #888888;
}

.text-medium-ash {
  font-size: 18px;
  color: #888888;
}

.text-big {
  font-family: "georgia-regular";
  font-size: 20px;
  color: #333333;
}

.publish-time {
  font-family: "helvetica-regular";
  color: #888888;
  font-size: 12px;
  margin-left: 5px;
}

.absolute-number {
  background: #152a45;
  display: inline-block;
  position: absolute;
  color: #ffffff;
  padding: 0px 5px;
  bottom: -5px;
  left: 15px;
}

.chr {
  background: #152a45;
  height: 3px;
}

hr {
  color: #646464;
  margin: 10px 0;
}

@media (min-width: 1200px) {
  .bor-right {
    border-right: 2px solid #eee;
  }
}

/*===// end of base css === */
/*=== components css start === */
.blue-btn {
  background: #152a45;
  color: #fff;
  border-radius: 0;
  width: 100%;
  font-size: 14px;
}
.blue-btn:hover {
  color: #fff;
  background: rgba(21, 42, 69, 0.8);
}

.action-btn {
  background: none;
  border: 2px solid #888888;
  width: 140px;
  margin: 0 5px;
  padding: 5px;
  transition: all 0.2s;
}
.action-btn:hover {
  color: #fff;
  background: rgba(21, 42, 69, 0.8);
}

/*===// end of components css === */
/*=== layout css start === */
.top-navigation {
  background: url(../images/h-bg.png) no-repeat center center/cover;
  background: #f3f6f8;
  padding: 15px 0;
}
.top-navigation .date-link p {
  color: #444444;
  font-size: 13px;
}
.top-navigation .date-link a {
  color: #444444;
  font-size: 13px;
  margin: 0 10px;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  .top-navigation .date-link a {
    margin: 0 5px;
  }
}
.top-navigation .date-link a:hover {
  color: #132d74;
}

@media (max-width: 991px) {
  .bottom-navigation {
    overflow-x: scroll;
  }
  .bottom-navigation::-webkit-scrollbar {
    height: 0px;
    width: 10px;
  }
}
.bottom-navigation .logo-wrap {
  padding: 30px 0 20px;
}
.bottom-navigation .logo-wrap .navbar-brand img {
  max-width: 600px;
}
@media (max-width: 767px) {
  .bottom-navigation .logo-wrap .navbar-brand {
    max-width: 250px;
  }
}
@media (max-width: 991px) {
  .bottom-navigation .link-wrapper {
    width: 800px;
  }
}
.bottom-navigation .nav-link {
  font-family: "helvetica-bold";
  text-transform: uppercase;
  display: inline-block;
  color: #010133;
  margin: 0 25px;
}
.bottom-navigation .nav-link.active {
  color: #082585;
}
.bottom-navigation .nav-link:hover {
  color: #274299;
}
@media (max-width: 1199px) {
  .bottom-navigation .nav-link {
    margin: 0 20px;
  }
}

.side-nav .navbar-brand {
  max-width: 200px;
}
.side-nav .main-nav .nav-link {
  font-family: "Inter", sans-serif;
  color: #333;
  padding: 0.5rem 0px;
  font-weight: 600;
}
@media (max-width: 1399px) {
  .side-nav .main-nav .nav-link {
    font-size: 14px;
  }
}
.side-nav .main-nav .nav-link.active, .side-nav .main-nav .nav-link:hover {
  color: #b90000;
}
.side-nav .copyright {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #555;
}

.footer .footer-top {
  background: #fafafa;
  padding: 30px 0;
}
.footer .footer-top .link-header {
  font-family: "helvetica-bold";
  font-size: 15px;
  color: #000000;
  padding-bottom: 20px;
}
.footer .footer-top .nav-link-t {
  font-size: 13px;
  color: #555555;
  font-family: "helvetica-regular";
  display: inline-block;
  padding-bottom: 10px;
  transition: all 0.2;
}
.footer .footer-top .nav-link-t:hover {
  color: #104e82;
}
.footer .footer-top .icon-s {
  color: #000000;
  font-size: 20px;
  transition: all 0.2;
}
.footer .footer-top .icon-s:hover {
  color: #104e82;
}
.footer .footer-bottom {
  background: #fff;
  padding: 20px 0;
}
.footer .footer-bottom .bottom-navs {
  border-right: 1px solid rgba(85, 85, 85, 0.2);
  font-family: "helvetica-regular";
  display: inline-block;
  transition: all 0.2;
  padding: 0px 10px;
  color: #555555;
  font-size: 13px;
  margin: 3px 0;
}
.footer .footer-bottom .bottom-navs:hover {
  color: #104e82;
}
.footer .footer-bottom p {
  font-size: 13px;
  color: #555555;
  font-family: "helvetica-regular";
}

/*===// end of layout css === */
/*=== pages start === */
.pagin-wrapper {
  padding: 20px 0;
  margin: auto;
}
@media (min-width: 1200px) {
  .pagin-wrapper {
    max-width: 80%;
  }
}
.pagin-wrapper .nav-btn {
  border: none;
  background: none;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}
.pagin-wrapper .page-nums {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
@media (min-width: 1200px) {
  .pagin-wrapper .page-nums {
    padding: 0 50px;
  }
}
.pagin-wrapper .page-nums .page-num {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}
.pagin-wrapper .page-nums .page-num.active {
  color: #099939;
}
.pagin-wrapper .page-nums .page-num:hover {
  color: #099939;
}

@media (max-width: 767px) {
  .section-page .latest-news .news-item .heading-medium-v2 {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */