.main-contents-home {
    padding: 35px 0;

    .content-wrapper {
        @media(min-width: 992px) {
            display: flex;

            .left-content {
                width: calc(100% - 250px);
                padding-right: 16px;
                margin-right: 16px;
                border-right: 1px solid #f1f1f1;
            }

            .sidebar {
                width: 250px;
            }
        }
    }

    .content-wrapper-n {
        @media(min-width: 992px) {
            display: flex;

            .left-content {
                width: calc(100% - 305px);
                padding-right: 16px;
                margin-right: 16px;
                border-right: 1px solid #f1f1f1;
            }

            .sidebar {
                width: 305px;
            }
        }
    }

    .content-wrapper-x {
        @media(min-width: 992px) {
            display: flex;

            .left-content {
                width: calc(100% - 325px);
                padding-right: 16px;
                margin-right: 16px;
                border-right: 1px solid #f1f1f1;
            }

            .sidebar {
                width: 325px;
            }
        }
    }

}

.funding {
    .wrap-c {
        display: grid;
        grid-template-columns: 1.3fr 1fr 1fr;
        gap: 30px;

        @media(max-width: 1199px) {
            grid-template-columns: 1fr 1fr;
        }

        @media(max-width: 767px) {
            grid-template-columns: 1fr;
        }
    }
}

.pagin-wrapper {
    padding: 20px 0;
    margin: auto;

    @media (min-width:1200px) {
        max-width: 80%;
    }

    .nav-btn {
        border: none;
        background: none;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
    }

    .page-nums {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        @media (min-width:1200px) {
            padding: 0 50px;
        }

        .page-num {
            font-family: 'Inter', sans-serif;
            font-weight: 600;
            font-size: 16px;
            color: #333333;

            &.active {
                color: #099939;
            }

            &:hover {
                color: #099939;
            }
        }
    }
}